# This is a basic workflow to help you get started with Actions

name: CrltsMrtnz

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3


      ##########################
      # Install Flutter command
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # # Build Website
      # - name: Build Website
      #   run: |
      #     flutter config --enable-web
      #     flutter pub get
      #     flutter build web 
      #   working-directory: ./

  
 ##########################
      # Deploy Firebase Hosting
      # - uses: subosito/flutter-action@v1
      #   with:
      #     channel: 'stable'
      - run: flutter clean
      
      - run: flutter pub get
      # - run: flutter test
      - run: flutter build web

      # Deploy Firebase Hosting
      - name: Deploy Firebase Hosting
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting:crlts-mrtnz
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          FIREBASE_PROJECT: crlts-mrtnz

          PROJECT_PATH: ./
      ##########################  
            